{% extends "_layout/default.njk" %}
{% set pageTitle = "About | Decrements" %}

{% block content_main %}
	<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Product 001</h3>
				<hr>
				<p>これをああしてこうするProductです。</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-8 col-lg-offset-2">
				<p><img class="img-responsive" src="http://placehold.it/700x400?text=dummy"></p>
				<p><img class="img-responsive" src="http://placehold.it/700x400?text=dummy"></p>
				<p><img class="img-responsive" src="http://placehold.it/700x400?text=dummy"></p>
				<p><bt>Client: <a href="#">XXXXXXX</a></bt> - <bt>Type: <a href="#">WEBサイト</a></bt> - <bt>Date: <a href="#">2017/12</a></bt></p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
{% endblock %}
