{% extends "_layout/default.njk" %}
{% set pageTitle = "Decrements" %}

{% block content_main %}
<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
                    {% include '_parts/profile.njk' %}
				</div>
				<!-- /col-lg-8 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /ww -->


	<!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Products</h3>
				<hr>
				<p>私たちのプロダクトです</p>
			</div>
		</div>
		<div class="row mt centered">
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
            {% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
            {% include '_parts/products/s001.njk' %}
			</div>
		</div>
		<!-- /row -->
		<div class="row mt centered">
			<div class="col-lg-4">
            {% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
            {% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
            {% include '_parts/products/s001.njk' %}
			</div>
		</div>
        	<div class="row mt centered">
            <p><a href="products.html">もっと見る</a></p>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
{% endblock %}
