{% extends "_layout/default.njk" %}
{% set pageTitle = "Products | Decrements" %}

{% block content_main %}
<!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Products</h3>
				<hr>
				<p>私たちのプロダクトです</p>
		</div>
		</div>
		<div class="row mt centered">
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
		</div>
		<!-- /row -->
		<div class="row mt centered">
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
		</div>
		<!-- /row -->
		<div class="row mt centered">
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
			<div class="col-lg-4">
			{% include '_parts/products/s001.njk' %}
			</div>
		</div>
		<!-- /row -->
	</div><!-- /container -->
{% endblock %}
